<form  (ngSubmit)='processEmployee(AddOrEdit)'>
  <div>
  <div><label>{{AddOrEdit}} an Employee</label></div>
  <hr/>
  <label>Name</label>
  <input class="form-control" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}"/>
  <label>Email</label>
  <input class="form-control" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}"/>
  <label>Phone</label>
  <input class="form-control" [(ngModel)]="Phone" [ngModelOptions]="{standalone: true}"/>
  <label>Salary</label>
  <input class="form-control" [(ngModel)]="Salary" [ngModelOptions]="{standalone: true}"/>
  
  <small class="form-control" *ngIf="error!=''">{{error}}</small>

  <button class="btn btn-primary" type="submit">{{ AddOrEdit }}</button>
  <button class="btn btn-danger" [routerLink]="['/employees']"> Close </button>
</div>
</form>