<ng-container >
<button [routerLink]="['addedit',0]" class="btn btn-primary">Add New</button>
<button routerLink="" class="btn btn-primary">Go Back</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees let i= index">
      <th scope="row">{{i+1}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.salary}}</td>
      <button [routerLink]="['addedit', employee.id]" class="btn btn-info">Edit</button>
      <button (click)="deleteEmp(employee.id)" class="btn btn-warning">Delete</button>
    </tr>
  </tbody>
</table>
</ng-container>

