<form>
    <div>
    <div><label>{{AddOrEdit}} an Student</label></div>
    <hr/>
    <label>Name</label>
    <input class="form-control" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}"/>
    <label>Code</label>
    <input class="form-control" [(ngModel)]="Code" [ngModelOptions]="{standalone: true}"/>
    
    <small class="form-control" *ngIf="error!=''">{{error}}</small>
  
    <button class="btn btn-primary" (click)="AddOrEdit=='Add'?addCourse():editCourse()">{{ AddOrEdit }}</button>
    <button class="btn btn-danger" [routerLink]="['/courses']"> Close </button>
  </div>
  </form>