<ng-container *ngIf="!showDialog">
  <button (click)="onAddClick()" class="btn btn-primary">Add New</button>
  <button routerLink="" class="btn btn-primary">Go Back</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">FavCourse</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phone}}</td>
      <td>{{student.favCourse?.name}}</td>
        <button (click)="this.showDialog=!this.showDialog;onEditClick(student)" class="btn btn-info">edit</button>
        <button (click)="deleteStudent(student.id)" class="btn btn-warning">delete</button>
      </tr>
    </tbody>
  </table>
  </ng-container>
  <form *ngIf="showDialog">
    <div>
    <div><label>{{AddOrEdit}} a Student</label></div>
    <hr/>
    <label>Name</label>
    <input class="form-control" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}"/>
    <label>Email</label>
    <input class="form-control" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}"/>
    <label>Phone</label>
    <input class="form-control" [(ngModel)]="Phone" [ngModelOptions]="{standalone: true}"/>
    <label>Fav Course Name</label>
    <input class="form-control" [(ngModel)]="FavCourseName" [ngModelOptions]="{standalone: true}"/>
    <button class="btn btn-primary" (click)="AddOrEdit=='Add'?addStudent():editStudent()">{{ AddOrEdit }}</button>
    <button class="btn btn-danger" (click)="this.showDialog=!this.showDialog">Cancel</button>
  </div>
  </form>
