<ng-container>
  <button [routerLink]="['addeditstudent',0]" class="btn btn-primary">Add New</button>
  <button routerLink="" class="btn btn-primary">Go Back</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">FavCourse</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phone}}</td>
      <td>{{student.favCourseString}}</td>
      <button [routerLink]="['addeditstudent', student.id]" class="btn btn-info">Edit</button>
      <button (click)="deleteStudent(student.id)" class="btn btn-warning">Delete</button>
      </tr>
    </tbody>
  </table>
  </ng-container>
